## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
country = ["country-a", "country-b", "country-c", "country-d", "country-e"]
people = np.random.randint(1000,10000,5)

data = {'country': country,
        'people': people}
data_df = pd.DataFrame(data)
data_df

     country  people
0  country-a    9966
1  country-b    5874
2  country-c    8939
3  country-d    3290
4  country-e    5079

In [6]:
data_df.ix[data_df.people.idxmax(), 'country']

'country-a'