## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

### 之前做過的處理

In [2]:
# 設定 data_path
dir_data = 'D:\Documents\GitHub\ML100-Days\Homework\Part01'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

# Create an anomalous flag column
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)
# also apply to testing dataset
app_test['DAYS_EMPLOYED_ANOM'] = app_test["DAYS_EMPLOYED"] == 365243
app_test["DAYS_EMPLOYED"].replace({365243: np.nan}, inplace = True)

# absolute the value of DAYS_BIRTH
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])
app_test['DAYS_BIRTH'] = abs(app_test['DAYS_BIRTH'])

In [5]:
app_train['DAYS_BIRTH'] = pd.cut(app_train['DAYS_BIRTH'],8)

In [6]:
app_train['DAYS_BIRTH'].value_counts()

(14141.5, 16359.0]    51100
(11924.0, 14141.5]    49708
(9706.5, 11924.0]     47520
(18576.5, 20794.0]    42345
(16359.0, 18576.5]    42340
(20794.0, 23011.5]    37281
(7471.26, 9706.5]     19016
(23011.5, 25229.0]    18201
Name: DAYS_BIRTH, dtype: int64

In [8]:
app_train['INCOME'] = pd.qcut(app_train['AMT_INCOME_TOTAL'],8)

In [9]:
app_train['INCOME'].value_counts()

(147150.0, 180000.0]       61824
(25649.999, 90000.0]       57922
(112500.0, 135000.0]       48849
(90000.0, 112500.0]        42656
(261000.0, 117000000.0]    38184
(202500.0, 261000.0]       33354
(180000.0, 202500.0]       20389
(135000.0, 147150.0]        4333
Name: INCOME, dtype: int64

In [10]:
diff = ['AMT_INCOME_TOTAL','INCOME','DAYS_BIRTH']
app_train[diff].head(10)

   AMT_INCOME_TOTAL                   INCOME          DAYS_BIRTH
0          202500.0     (180000.0, 202500.0]   (7471.26, 9706.5]
1          270000.0  (261000.0, 117000000.0]  (16359.0, 18576.5]
2           67500.0     (25649.999, 90000.0]  (18576.5, 20794.0]
3          135000.0     (112500.0, 135000.0]  (18576.5, 20794.0]
4          121500.0     (112500.0, 135000.0]  (18576.5, 20794.0]
5           99000.0      (90000.0, 112500.0]  (16359.0, 18576.5]
6          171000.0     (147150.0, 180000.0]  (11924.0, 14141.5]
7          360000.0  (261000.0, 117000000.0]  (18576.5, 20794.0]
8          112500.0      (90000.0, 112500.0]  (18576.5, 20794.0]
9          135000.0     (112500.0, 135000.0]  (14141.5, 16359.0]